@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300,400,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(0deg, #DAAEED, #FFA9D7, #7DCEF6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.relogio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 200px;
    width: 550px;
    background: transparent;
    border-radius: 3px;
    box-shadow: 5px 8px 5px rgba(255, 252, 252, 0.61);
}

.relogio div {
    height: 170px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    background: rgb(243, 242, 242);
    box-shadow: 0px 0px 50px rgba(243, 242, 242, 0.849);
    border-radius: 7px;
    letter-spacing: 3px;
}

.relogio span {
    font-weight: bolder;
    font-size: 60px;
    color: #DAAEED;
}

.relogio span.tempo {
    font-size: 10px;
}
